@font-face
  font-family: 'cronos'
  src: url('/fonts/cronos/cronos_mm-webfont.eot')
  src: url('/fonts/cronos/cronos_mm-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/cronos/cronos_mm-webfont.woff2') format('woff2'), url('/fonts/cronos/cronos_mm-webfont.woff') format('woff'), url('/fonts/cronos/cronos_mm-webfont.ttf') format('truetype'), url('/fonts/cronos/cronos_mm-webfont.svg#robotoregular') format('svg')
  font-weight: normal
  font-style: normal