@import "shared/vars"

#header

  h2
    font-size: 18px
    color: rgba(0, 0, 0, 0.5)

    // Small devices (tablets, 768px and up)
    @media (min-width: $screen-sm-min)
      font-size: 24px

  img
    border: 2px solid #f2f2f2
    border-radius: 75px
    position: absolute
    top: 25px
    left: 0
    right: 0
    margin: 0 auto