div.row#about

  h3
    | About Me

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pharetra magna. Vivamus enim magna, cursus eget urna ut, tincidunt condimentum justo. Fusce tempor ac est id feugiat. Vivamus eget nisl pulvinar, eleifend velit sit amet, pharetra sapien. Suspendisse congue nec orci imperdiet cursus. Duis lacinia lectus a elit efficitur, quis suscipit nibh sollicitudin. Aliquam erat eros, imperdiet ut nisl at, interdum congue neque. Vestibulum sollicitudin malesuada orci sed tincidunt. Maecenas at diam nec tortor consectetur sagittis in at orci. Mauris consequat eros ac turpis suscipit, sagittis ullamcorper ante accumsan. Fusce quis metus sapien.