div.row#about

  h3
    | About Me

  p I am currently interested in job opportunities in web development where I can utilize my frontend and backend development skills in combination with my eye for design. I would love to contribute to the creation of products that are thoughtfully planned, crafted with precision, fast and efficient, well documented, visually stunning, and a pleasure to use.

  p I have experience in frontend development (HTML5, CSS3, JavaScript, AngularJS), backend development (Ruby, Rails, PHP, SQL), user interface and user experience design, and project management (Agile/Scrum).

  p I have worked on projects for clients including ZeniMax Online, Disney, Activision, FOX, BBC, Ubisoft, Robot Entertainment, The Pokemon Company, and National Geographic.

  p My current role involves developing an e-commerce platform, backend services, and an account management website that is used by millions of users and processes thousands of transactions per month. Additionally, I am the lead UI/UX designer for a new web-based complex multi-event processing automation tool.

  p The emphasis that I give to learning and self-improvement has helped me transition from a graphic designer, to a frontend hobbyist, and now to a full-stack web developer. In my free time, I enjoy working on personal web development projects which function as both learning tools and creative outlets. Using what I learn in both professional and personal environments, I enjoy simplifying key concepts and then teaching others so that they can learn and expand their knowledge.

  p Leveraging my BFA in Animation and background in studio arts and graphic design, I am able to provide unique and valuable input when it comes to UI and UX design and overall aesthetics of a web application, while simultaneously understanding the technical requirements and limitations.

  p I have a passion for helping projects succeed using proven Agile/Scrum methodologies. I find it extremely rewarding to be a member of a team that delivers quality work often and on-time without creating unnecessary process or causing team burnout.
