div.row#contact

  div.col-sm-6.col-xs-12
    a.btn.btn-primary.btn-lg(href="mailto:hello@creative-dna.net" target="_blank")
      i.fa.fa-send
      | hello@creative-dna.net
  div.col-sm-6.col-xs-12
    a.btn.btn-primary.btn-lg(href="tel:9493851240" target="_blank")
      i.fa.fa-mobile-phone
      | (949) 385-1240

  div.col-sm-4.col-xs-12
    a.btn.btn-primary.btn-lg(href="http://www.github.com/john-goldsmith" target="_blank")
      i.fa.fa-github
      | GitHub
  div.col-sm-4.col-xs-12
    a.btn.btn-primary.btn-lg(href="http://stackoverflow.com/users/992285/marlorn" target="_blank")
      i.fa.fa-stack-overflow
      | Stack
  div.col-sm-4.col-xs-12
    a.btn.btn-primary.btn-lg(href="https://www.linkedin.com/profile/view?id=26433288" target="_blank")
      i.fa.fa-linkedin
      | LinkedIn