a.skill-tag.btn.btn-default(href="#frontend") Frontend
a.skill-tag.btn.btn-default(href="#backend") Backend
a.skill-tag.btn.btn-default(href="#hobbies") Hobbies
a.skill-tag.btn.btn-default(href="#ruby") Ruby
a.skill-tag.btn.btn-default(href="#php") PHP
a.skill-tag.btn.btn-default(href="#javascript") JavaScript
a.skill-tag.btn.btn-default(href="#design") Design
a.skill-tag.btn.btn-default(href="#programming") Programming
a.skill-tag.btn.btn-default(href="#frameworks") Frameworks

div.row#skills