doctype html
html.no-js
  head
    meta(charset="utf-8")
    title John Goldsmith | Full-stack Web Developer & Designer | Orange County, CA
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    link(rel="shortcut icon" href="favicon.ico")
    <!-- TODO: Apple favicons -->
    link(rel="stylesheet" href="styles/application.min.css")

  body

    <!--[if lt IE 10]>
    p.browsehappy
      | You are using an
      strong outdated
      | browser. Please
      a(href="http://browsehappy.com") upgrade your browser
      | to improve your experience.
    <![endif]-->

    div.container

      div#content

        include ./_header.jade
        include ./_contact.jade
        include ./_about.jade
        include ./_skills.jade

    script(src="scripts/application.min.js")

    include ./_google_analytics.jade