doctype html
html.no-js
  head
    meta(charset="utf-8")
    title John Goldsmith | Full-stack Web Developer & Designer | Orange County, CA
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    link(rel="shortcut icon" href="/favicon.ico")
    <!-- TODO: Apple favicons -->
    link(rel="stylesheet" href="styles/font-awesome.min.css")
    link(rel="stylesheet" href="styles/application.css")
    script(src="scripts/vendor/modernizr.js")

  body

    <!--[if lt IE 10]>
    p.browsehappy
      | You are using an
      strong outdated
      | browser. Please
      a(href="http://browsehappy.com") upgrade your browser
      | to improve your experience.
    <![endif]-->

    div.container

      div#content

        include ./_header.jade
        include ./_contact.jade
        include ./_about.jade
        include ./_skills.jade

    script(src="scripts/vendor/jquery.min.js")
    script(src="scripts/vendor/underscore-min.js")
    script(src="scripts/vendor/dropdown.js")
    script(src="scripts/vendor/transition.js")
    script(src="scripts/skills.js")

    include ./_google_analytics.jade