div.jumbotron#adaptive
  div.container

    h3 Adaptive
    p The emphasis that I give to learning and self-improvement has helped me transition from a graphic designer, to a frontend hobbyist, and now to a full-stack web developer. In my free time, I enjoy working on personal web development projects which function as both learning tools and creative outlets. Using what I learn in both professional and personal environments, I enjoy simplifying key concepts and then teaching others so that they can learn and expand their knowledge.
    p I have a passion for helping projects succeed using proven Agile/Scrum methodologies. I find it extremely rewarding to be a member of a team that delivers quality work often and on-time without creating unnecessary process or causing team burnout.