div.jumbotron#available
  div.container

    h3 Available
    p Sorry, ladies, I’m taken. I am, however, currently interested in job opportunities in web development where I can utilize my frontend and backend development skills in combination with my eye for design. I would love to contribute to the creation of products that are thoughtfully planned, crafted with precision, fast and efficient, well documented, visually stunning, and a pleasure to use.

    div.row

      div.col-sm-3.col-sm-offset-2.col-xs-12
        a.btn.btn-default.btn-lg(href="john_goldsmith_resume_2014.pdf" target="_blank")
          i.fa.fa-file-text-o
          | Résumé

      div.col-sm-3.col-sm-offset-2.col-xs-12
        a.btn.btn-default.btn-lg(href="https://www.linkedin.com/in/johngoldsmith" target="_blank")
          i.fa.fa-linkedin
          | LinkedIn

    div.row

      div.col-sm-3.col-sm-offset-2.col-xs-12
        a.btn.btn-default.btn-lg(href="http://www.github.com/john-goldsmith" target="_blank")
          i.fa.fa-github
          | GitHub

      div.col-sm-3.col-sm-offset-2.col-xs-12
        a.btn.btn-default.btn-lg(href="http://stackoverflow.com/users/992285/marlorn" target="_blank")
          i.fa.fa-stack-overflow
          | Stack Overflow

