div.jumbotron#experienced
  div.container

    h3 Experienced
    p I have experience in frontend development (HTML5, CSS3, JavaScript, AngularJS), backend development (Ruby, Rails, PHP, SQL), user interface and user experience design, and project management (Agile/Scrum).
    p My current role involves developing an e-commerce platform, backend services, and an account management website that is used by millions of users and processes thousands of transactions every month. Additionally, I am the lead UI/UX designer for a new web-based complex multi-event processing automation tool.