div.jumbotron#intro
  div.container

    div.row
      h1#greeting Hi, I'm John

    div.row
      img.img-responsive#me(src="/images/me.jpg" height="300" width="300" alt="Me")

    div.row
      h2#description
        | I'm a full-stack web developer &amp; designer
        br
        | located in Orange County, CA

    div.row
      div.col-sm-4.col-sm-offset-4.col-xs-12
        div.btn-group
          a#email.btn.btn-primary(href="mailto:hello@creative-dna.net" target="_blank")
            i.fa.fa-send
            | Email
          a#call.btn.btn-primary(href="tel:9493851240" target="_blank")
            i.fa.fa-phone
            | Call

    div.row
      a.col-xs-12#more(href="#available") Get to know me