div.jumbotron#qualified
  div.container

    h3 Qualified

    div.row

      div.col-sm-4.col-xs-12
        p I have worked on projects for clients including ZeniMax Online, Disney, Activision, FOX, BBC, Ubisoft, Robot Entertainment, The Pokémon Company, and National Geographic.

      div.col-sm-7.col-sm-offset-1.col-xs-12
        img.img-responsive(src="/images/brands.png" alt="ZeniMax Online Studios, BBC, FOX, The Pokemon Company, Activision, Ubisoft, National Geographic, Disney, Robot Entertainment")