div.jumbotron#valuable
  div.container

    h3 Valuable
    p Leveraging my BFA in Animation and background in studio arts and graphic design, I am able to provide unique and valuable input when it comes to UI and UX design and overall aesthetics of a web application, while simultaneously understanding the technical requirements and limitations.